:root{
    --textosheader : rgb(255, 252, 252);
    --corPrimaria : rgb(84, 0, 1);
    --corSecundaria : rgb(204, 204, 171);

}

*{
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 248, 192);
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: var(--corPrimaria);
    color: var(--textosheader);
    align-items: center;
}

header a{
    text-decoration: none;
    color: var(--textosheader);
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
}

.paginaAtual{
    padding: 5px;
    background-color: var(--corSecundaria);
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: var(--corPrimaria);
    color: var(--textosheader);
}

@media screen and (max-width: 900px) {
    body{
        background-color: rgb(255, 255, 0);
    }

    header{
        flex-direction: row;
        gap: 15px;
    }

    #bannerTexto{
        width: 500px;
        flex-wrap: wrap;
    }
}