#banner{
    width: 100%;
    height: 500px;
    border-radius: 5px; 
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/banner.jpg);
    background-color: var(--corPrimaria);
    background-position: center; 
}

#bannertexto{
    display: flex;
    justify-content: end;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}