*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: black;
}

header{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content:space-evenly;

}
header div{
    display: flex;
    align-items: center;
    justify-items: center;
}
#logo{
    width: 17%;
    margin-left: 1%;
}

#div2 img{
    width: 35px;
    margin: 0px 20px;
}
a{  
    padding: 0px 8px;
    text-decoration: none;
}

.txt1{
    height: 400px;
    background-size: cover;
    display: flex;
}
#txt1{
    background-image: url(narcos_JQo8CYM.jpg);
}
#txt2{
    background-image: url(images/246e4c20e2539af37de4a14a3f6cbd45d829cc99.png);
}
main{
    width: 100%;
}

#conteudotxt1{
    width: 40%;
    margin: 10px 10px;
}

#conteudotxt1 h4{
    margin: 10px;
}
.posters{
    width: 100%;
    display: flex;
}
.posters img{
    width: 25%;
    padding: 0px 10px;
}
h2{
    margin: 10px 30px;
}

#conteudotxt2{
    margin: 10px;
}
#sla{
    padding: 0px 0px 10px 0px;
}
