*{
    margin: 0%;
    padding: 0%;
}

table{
    width: 600px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #0d5188;
    border-collapse: collapse;
    text-align: center;
    
}
#titulo{
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

#comeco{
    background-color: #66c5e3;
    border: 1px solid #c7e7f3;
    margin: 15%;
}

#parteDeCima{
    background-color: #c7e7f3;
}

#cidade{
    color: #0d5188;
    font-weight: bold;
}

#posição{
    background-color: rgb(192, 192, 192);
    border: 1px solid #c7e7f3;
    height: 10%;
}

#população{
    height: 15%;
}

th{
    border: 1px solid #c7e7f3;
    text-align: center;

}

td{
    border: 1px solid c7e7f3;
    text-align: center;
    
}




