*{
    margin: 0%;
    padding: 0%;
}

table{
    margin: 2px;
    padding: 2px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #0d5188;
    border-collapse: collapse;
    justify-content: center;
}
/* CONFIGURAÇÃO DOS ID'S */
#titulo{
    color: white;
    justify-content: center;
    font-weight: bold;
}

#comeco{
    background-color: #66c5e3;
    border: 1px solid #c7e7f3;
    font-weight: bold;
}

#parteDeCima{
    background-color: #c7e7f3;
}

#cidade{
    color: #0d5188;
    font-weight: bold;
}

#posição{
    background-color: rgb(192, 192, 192);
    border: 1px solid #c7e7f3;
    height: 10%;
}

#população{
    height: 15%;
}
/* CONFIGURAÇÃO DAS COLUNAS */
th{
    margin: 2px;
    padding: 2px;
    border: 1px solid #c7e7f3;
    text-align: center;
}

td{
    margin: 2px;
    padding: 2px;
    border: 1px solid #c7e7f3;
    text-align: center;
}




